
Kaggle/Titanic/Data/

Kaggle/Videogames Python/Data/

Kaggle/VideoGames R/Data/

Embeddings and manipulation of text/Gensim/Data/

Embeddings and manipulation of text/R/GloVe/Data/

Self-work R/Clasification -Supervised Learning/Modelos Lineales y Lineales Generalizados/Data/

Curso de Machine Learning Aplicado con Python/Data/
